<div class="container col-sm-12 col-lg-12" id="logo">
  <div class="row">
      <p> 
        <%= image_tag "home_screen.jpg", class: "img-fluid"%>
      </p>
  </div>
</div>

<div class="card col-sm-12 col-lg-6">
  <div class="card-header">
    Jagruti lodge
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Experience Authentic Indian Hospitality with Added Assurance of Safety & Hygiene</p>
      <footer class="blockquote-footer">Avail Upto 21% savings on Member Rates for Best Available Rate and Bed & Breakfast.</cite></footer>
    </blockquote>
  </div>
</div>

<br>
<br>


<div class="card-deck">
  <div class="card">
  	<%= image_tag "room_1.jpg", class: "card-img-top"%>
    <div class="card-body">
      <h5 class="card-title">Executive Room with AC</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
  	<%= image_tag "room_2.jpg", class: "card-img-top"%>
    <div class="card-body">
      <h5 class="card-title">Without AC</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
  	<%= image_tag "room_3.jpg", class: "card-img-top"%>
    <div class="card-body">
      <h5 class="card-title">Amenities</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
